.git
.gitignore
.vscode
.idea
node_modules
vendor
.env
.env.backup
.phpunit.result.cache
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
*.log
*.sqlite
*.sqlite-journal
